.about {
  padding: 80px 60px;
}

.about-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 40px;
}

.about-title .highlight {
  color: #0c9aad;
}

.about-content {
  display: flex;
  gap: 40px;
}

.about-content-left {
  background-color: #0c9aad;
  color: white;
  padding: 40px;
  width: 40%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-header {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-description {
  font-size: 14px;
  line-height: 1.6;
}

.physician-btn {
  margin-top: 20px;
  background-color: white;
  color: #0c9aad;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}


.about-content-right {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
