.hero{
    padding: 40px 0;
}

.hero-img{
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.hero-text {
    margin-top: 10px;
    color: #555;
}

.service-btn {
    background-color: #0c9aad;
    color:white;
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
}